<p id="notice"><%= notice %></p>

<div class = "container">
  <h1><%= link_to "Hoang's Blog", articles_path %></h1>
  <h3>My First Rails application for CoderSchool</h3>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
       
        <div class="nav-link" >
           <%= link_to 'Home', articles_path %>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
      <%= form_tag articles_path, method: 'get' do %>
    <p>
        
        <div class="btn btn-outline-success my-2 my-sm-0">
        <%= text_field_tag :search %>
          <%= submit_tag "Search"  %>
        </div>  
        
    </p>
  <% end %>
    </form>
  </div>
</nav>

<p></p>


  <%= link_to 'New Article', new_article_path, class: "btn btn-primary" %>
  <p></p>  
  

  <div class = "row">

    <div class="col-sm-8">      
      <%= render @articles %>      
    </div> 

  </div>

  <br>

  

</div>


