<p id="notice"><%= notice %></p>

<div class = "container">

<p></p>
  <p></p>    
  <div class = "row">
    <div class="col-md-2"></div>
    <div class="col-md-8"> 
    <%if @search_keyword%>
      <%if @articles.empty?%>
        <p>There is no result with <b>'<%= @search_keyword %></b>'</p>
      <%else%>
        <p>There is <%= pluralize(@articles.size, 'result')%> with <b>'<%= @search_keyword%>'</b> keyword </p>
      <%end%>
    <%end%>
      <%= render @articles.sort.reverse %>      
    </div>
    <div class="col-md-2"></div>
  </div>

  <br>

</div>


