<p id="notice"><%= notice %></p>

<div class="container">
	<p>
	  <strong>Title:</strong>
	  <%= @article.title %>
	</p>

	<p>
	  <strong>Content:</strong>
	  <div style="border:3px; border-style:solid; border-color:#FF0000; padding: 1em;">
	  	<%= @markdown.render(@article.body).html_safe %>
	  </p>
	  
	</p>

	<p">
	  <strong>Views by others:</strong>
	  <%= @article.view %> times
	</p>

	<% @article.view += 1  %>
	<% @article.save %>

	<% @comments.each do |comment| %>
		
		<div class="card">
		  <div class="card-block">
		    <!-- <h4 class="card-title">Card title</h4> -->
		    <h6 class="card-subtitle mb-2 text-muted">Anonymous said:</h6>
		    <p class="card-text"><%= comment.body %></p>
		   	<h6 class="card-subtitle mb-2 text-muted small">Commented at <%= time_ago_in_words(comment.created_at) %> ago</h6>
		    <%= link_to 'Delete Comment', comment, method: :delete, data: { confirm: 'Are you sure?'} , class: 'btn btn-danger', style:"position:absolute;bottom:5px;right:5px;margin:0;padding:5px 3px;" %>


		  </div>
		</div>
	<%end%>

	    <%= form_for [@article, Comment.new] do |f| %>
			<br>
			<p>
				<%= f.text_area :body , class: 'form-control', placeholder: 'What do you think?'%>

			</p>
			<p> <%= f.submit "Comment", class: 'btn btn-success' %> </p>
	<%end%>
	

	<div class="card">
		

	</div>

	

	<div class=""></div>

	<div class="card-footer">
		<%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-primary' %> |
		<%= link_to 'Back', articles_path, class: 'btn btn-primary' %>
	</div>
	

</div>


