<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <div class = "row" >
  <div class="col-md-12">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">       
        <div class="nav-link" >
           <%= link_to 'Home', articles_path %>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      <li class="nav-item">
        <%= link_to 'New Article', new_article_path, class: "btn btn-primary" %>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <%= form_tag articles_path, method: 'get' do %>
    <p>
        <div class="btn btn-outline-success my-2 my-sm-0">
        <%= text_field_tag :search %>
          <%= submit_tag "Search"  %>
        </div>
    </p>
  <% end %>
    </form>
  </div>
</nav>

  </div>
</div>
<br>
<br>
<br>
	<div class="container"><%= yield %></div>

  </body>
</html>
